<?xml version="1.0"?>
<!--
/**
 * Oro Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is published at http://opensource.org/licenses/osl-3.0.php.
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magecore.com so we can send you a copy immediately
 *
 * @category Oro
 * @package Api
 * @copyright Copyright 2013 Oro Inc. (http://www.orocrm.com)
 * @license http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Oro_Api>
            <version>1.2.6</version>
        </Oro_Api>
    </modules>
    <global>
        <models>
            <oro_api>
                <class>Oro_Api_Model</class>
                <resourceModel>oro_api_resource</resourceModel>
            </oro_api>
            <oro_api_resource>
                <class>Oro_Api_Model_Resource</class>
                <entities>
                    <wishlist_status>
                        <table>oro_wishlist_status</table>
                    </wishlist_status>
                </entities>
            </oro_api_resource>
            <catalog>
                <rewrite>
                    <product_api_v2>Oro_Api_Model_Catalog_Product_Api_V2</product_api_v2>
                </rewrite>
            </catalog>
        </models>
        <helpers>
            <oro_api>
                <class>Oro_Api_Helper</class>
            </oro_api>
        </helpers>
        <resources>
            <oro_api_setup>
                <setup>
                    <module>Oro_Api</module>
                    <class>Oro_Api_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </oro_api_setup>
            <oro_api_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </oro_api_read>
            <oro_api_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </oro_api_write>
        </resources>
        <events>
            <newsletter_subscriber_save_before>
                <observers>
                    <oro_api_newsletter_subscriber_save_before_observer>
                        <class>oro_api/observer</class>
                        <method>beforeNewsletterSubscriberSave</method>
                    </oro_api_newsletter_subscriber_save_before_observer>
                </observers>
            </newsletter_subscriber_save_before>
            <wishlist_delete_commit_after>
                <observers>
                    <oro_api_wishlist_status>
                        <class>oro_api/wishlist_observer</class>
                        <method>registerWishlistChange</method>
                    </oro_api_wishlist_status>
                </observers>
            </wishlist_delete_commit_after>
        </events>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <image/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <oro_api before="Mage_Adminhtml">Oro_Api_Adminhtml</oro_api>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <oro_api_handle_crm_request>
                        <type>singleton</type>
                        <class>oro_api/observer_crm_controller</class>
                        <method>handleRequest</method>
                    </oro_api_handle_crm_request>
                </observers>
            </controller_action_predispatch>
            <controller_action_postdispatch>
                <observers>
                    <oro_api_handle_crm_response>
                        <type>singleton</type>
                        <class>oro_api/observer_crm_controller</class>
                        <method>handleResponse</method>
                    </oro_api_handle_crm_response>
                </observers>
            </controller_action_postdispatch>
            <controller_action_layout_render_before>
                <observers>
                    <oro_api_handle_crm_layout>
                        <type>singleton</type>
                        <class>oro_api/observer_crm_controller</class>
                        <method>handleRenderLayout</method>
                    </oro_api_handle_crm_layout>
                </observers>
            </controller_action_layout_render_before>
            <checkout_submit_all_after>
                <observers>
                    <oro_api_sales_order_created>
                        <type>singleton</type>
                        <class>oro_api/observer_sales_order</class>
                        <method>onSubmitAllAfter</method>
                    </oro_api_sales_order_created>
                </observers>
            </checkout_submit_all_after>
        </events>
    </adminhtml>
    <default>
        <oro>
            <api>
                <wishlist_status_clean_after_day>30</wishlist_status_clean_after_day>
            </api>
        </oro>
    </default>
    <crontab>
        <jobs>
            <oro_api_wishlist_status_clean>
                <schedule>
                    <cron_expr>15 0 1 * *</cron_expr>
                </schedule>
                <run>
                    <model>oro_api/wishlist_status::clean</model>
                </run>
            </oro_api_wishlist_status_clean>
        </jobs>
    </crontab>
</config>
