<?xml version="1.0"?>
<!--
/**
 * Oro Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is published at http://opensource.org/licenses/osl-3.0.php.
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magecore.com so we can send you a copy immediately
 *
 * @category Oro
 * @package Api
 * @copyright Copyright 2013 Oro Inc. (http://www.orocrm.com)
 * @license http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Oro_Analytics>
            <version>0.1.0</version>
        </Oro_Analytics>
    </modules>
    <global>
        <blocks>
            <oro_analytics>
                <class>Oro_Analytics_Block</class>
            </oro_analytics>
        </blocks>
        <helpers>
            <oro_analytics>
                <class>Oro_Analytics_Helper</class>
            </oro_analytics>
        </helpers>
        <models>
            <oro_analytics>
                <class>Oro_Analytics_Model</class>
            </oro_analytics>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <oro_analytics>
                    <file>oroanalytics.xml</file>
                </oro_analytics>
            </updates>
        </layout>
        <events>
            <controller_action_layout_render_before>
                <observers>
                    <oroanalitycs_render_before>
                        <class>oro_analytics/observer</class>
                        <method>onRenderBefore</method>
                    </oroanalitycs_render_before>
                </observers>
            </controller_action_layout_render_before>

            <!-- Order place events -->
            <checkout_onepage_controller_success_action>
                <observers>
                    <oroanalitycs_order_success>
                        <class>oro_analytics/observer</class>
                        <method>onOrderSuccessPageView</method>
                    </oroanalitycs_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <oroanalitycs_order_success>
                        <class>oro_analytics/observer</class>
                        <method>onOrderSuccessPageView</method>
                    </oroanalitycs_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>

            <!-- Registration success events -->
            <customer_register_success>
                <observers>
                    <oroanalitycs_registration_success>
                        <class>oro_analytics/observer</class>
                        <method>onRegistrationSuccess</method>
                    </oroanalitycs_registration_success>
                </observers>
            </customer_register_success>

            <!-- Cart item added events -->
            <checkout_cart_add_product_complete>
                <observers>
                    <oroanalitycs_cart_item_add>
                        <class>oro_analytics/observer</class>
                        <method>onCartItemAdd</method>
                    </oroanalitycs_cart_item_add>
                </observers>
            </checkout_cart_add_product_complete>
        </events>
    </frontend>
</config>
